body {
  background: #d8dee9;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
.caixa {
  color: #2e3440;
  padding: 10px;
  border: 5px solid #2e3440;
  border-radius: 5px;
}
